[submodule "nvim"]
	path = nvim
	url = git@github.com:blb78/nvim.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:blb78/rofi.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:blb78/tmux.git
